html, body {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    flex-direction: column; /* Ensure column layout for the container */
}

#sidebar {
    height: 100vh; /* Full viewport height */
    position: sticky;
    top: 0;
    width: 200px; /* Fixed width for the sidebar */
    background-color: #343a40; /* Background color to match dark theme */
}

.container-fluid {
    flex: 1; /* Make sure the container takes up remaining space */
    overflow: hidden; /* Prevent overflow issues */
}
